<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.rjfun.cordova.flurryads"
	version="2.0.1">
      
    <name>Flurry Ad</name>
	<description>Add Flurry Ads to cordova app, earn more revenue with Flurry for publishers</description>
	<author>Liming Xie</author>
	<license>MIT</license>
    <keywords>ad,flurry,rjfun</keywords>
    <repo>https://github.com/floatinghotpot/cordova-plugin-flurry.git</repo>
    <issue>https://github.com/floatinghotpot/cordova-plugin-flurry/issues</issue>

	<engines>
	    <engine name="cordova" version=">=3.0" />
	</engines>

    <js-module src="www/Flurry.js" name="FlurryAds">
        <clobbers target="window.FlurryAds" />
    </js-module>

	<dependency id="com.rjfun.cordova.extension"/>
	<dependency id="com.flurry.sdk"/>
	
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FlurryAds">
                <param name="android-package" value="com.rjfun.cordova.flurry.FlurryAdPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/FlurryAdPlugin.java" target-dir="src/com/rjfun/cordova/flurry" />
     </platform>
     
     <!-- ios -->
     <platform name="ios">    
         <config-file target="config.xml" parent="/*">
             <feature name="FlurryAds">
                 <param name="ios-package" value="FlurryAdPlugin" />
             </feature>
         </config-file>
         <header-file src="src/ios/FlurryAdPlugin.h"/>
         <source-file src="src/ios/FlurryAdPlugin.m"/>
    </platform>

</plugin>
